<html>
<head>
  <title>Hello World</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container">

    <div>
    <em>Welcome (this is our header)</em>
    </div>
    <hr>